<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="http://localhost:8000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>XML Loader</title>

        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/jumbotron-narrow.css" rel="stylesheet">
        <link href="assets/css/dropzone.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <div class="header clearfix">
                <h3 class="text-muted">XML Loader</h3>
            </div>

            <div class="jumbotron">
                <div id="alert">

                </div>
                {#<div id="successAlert" class="{%if not errorAlert%}hidden{%endif%} alert alert-danger" role="alert">
                    <b>Ops!</b> Looks like something went wrong
                </div>#}
                <h3>Attach the XML file</h3>

                <form method="POST" action="upload" enctype="multipart/form-data" class="dropzone" id="my-awesome-dropzone">
                    <div class="form-group">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </form>                
            </div>

            <footer class="footer">
                <p>&copy; 2017 Ezequiel de Oliveira.</p>
            </footer>

        </div> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/dropzone.js"></script>
        <script>
            Dropzone.options.myAwesomeDropzone = {
                paramName: "file",
                acceptedFiles: '.xml',
                init: function () {
                    this.on("sending", function () {
                        $('#alert').html('');
                    });
                    this.on("complete", function (file) {
                        if (file.xhr.response) {
                            $('#alert').html(file.xhr.response);
                        }
                    });
                }
            };
        </script>
    </body>
</html>